<%= image_tag "logo.png", alt: "Mon image", class: "logo" %>


<section class="first-container">
  <div class="welcome-container">
    <div class="welcome-container-text">
      <h1 class="title">Mesurez votre qualité de vie</h1>
      <p class="intro">Vous souhaitez mesurer votre qualité de vie? ATEV vous propose de</p>
      <p class="intro"> faire le test en quelques minutes grâce au Qualiviscope</p>
    </div>
    <a href="#secondContainer" class="btn-continuer">DEMARRER</a>
  </div>
</section>
<!-- <section class="transition">
  <div></div>
  <div></div>
  <div></div>
</section> -->

<section id="secondContainer" class="second-container">
  <h2>Important1</h2>
  <input type="range" value="20" name="rangeInput" min="1" max="100" onchange="updateTextInput1(this.value);">
  <input type="text" id="textInput" value="20">
  <input type="text" id="newVal1" name="">
  <h2>Important2</h2>
  <input type="range" value="20" name="rangeInput" min="1" max="100" onchange="updateTextInput2(this.value);">
  <input type="text" id="textInput2" value="20">
  <input type="text" id="newVal2" name="">
  <h2>Important3</h2>
  <input type="range" value="20" name="rangeInput" min="1" max="100" onchange="updateTextInput3(this.value);">
  <input type="text" id="textInput3" value="20">
  <input type="text" id="newVal3" name="">
  <h2>Important4</h2>
  <input type="range" value="20" name="rangeInput" min="1" max="100" onchange="updateTextInput4(this.value);">
  <input type="text" id="textInput4" value="20">
  <input type="text" id="newVal4" name="">
  <h2>Important5</h2>
  <input type="range" value="20" name="rangeInput" min="1" max="100" onchange="updateTextInput5(this.value);">
  <input type="text" id="textInput5" value="20">
  <input type="text" id="newVal5" name="">

  <h2>Résultat</h2>
  <input type="text" id="textInput6" value="100">
  <input type="text" id="newVal6" name="">

  <div id="chart-div"></div>
</section>


<p> Je souhaite tester ma vie</p>
<%= link_to 'Cliquer ici', new_questionnaire_path, class: "btn btn-outline-success" %>



<h2> <center>Mon niveau de satisfaction?</center> </h2>
<div class="slider-container">
  <div class="slider-text-container">
    <h2 id="output1">5</h2>
    <input id="slider1" type="range" name="" min="0" max="10" class="rangevertical" onchange="updateslider1();">
  </div>
  <div class="slider-text-container">
    <h2 id="output2">5</h2>
    <input id="slider2" type="range" name="" min="0" max="10" class="rangevertical" onchange="updateslider2();">
  </div>
  <div class="slider-text-container">
    <h2 id="output3">5</h2>
    <input id="slider3" type="range" name="" min="0" max="10" class="rangevertical" onchange="updateslider3();">
  </div>
  <div class="slider-text-container">
    <h2 id="output4">5</h2>
    <input id="slider4" type="range" name="" min="0" max="10" class="rangevertical" onchange="updateslider4();">
  </div>
  <div class="slider-text-container">
    <h2 id="output5">5</h2>
    <input id="slider5" type="range" name="" min="0" max="10" class="rangevertical" onchange="updateslider5();">
  </div>
</div>



<%= debug user_signed_in? %>
<%= debug current_user %>

