<h1>Page d'accueil</h1>


<p> Je souhaite tester ma vie</p>
<%= link_to 'Cliquer ici', new_questionnaire_path, class: "btn btn-outline-success" %>


<%= debug user_signed_in? %>
<%= debug current_user %>

