<%= link_to 'Accueil', home_index_path, class: "btn btn-light" %>
<h1 class="questionnaire-title">New Questionnaire</h1>

<%= render 'form', questionnaire: @questionnaire %>

<%= link_to 'Back', questionnaires_path %>
