/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";



/*les couleurs*/
/*FCE1DD bege*/
/*ED6B80 rose*/
/*F8CF62 orange*/
/*CAD639 vert jaune*/
/*81B3A3 vert bleu*/
/*384B9B bleu*/




*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}


.logo{
  position: absolute;
  top: 7%;
  left: 5%;
  height: 50px;
}


/*FIRST CONTAINER STYLE*/

.first-container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(asset-path("background.svg"));
  background-size: cover;
}

.welcome-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 70%;
  margin-top: 20vh;
}

.title{
  color: #000;
  font-size: 7.9rem;
  font-family: 'Cabin', semi-bold;
  text-align: left;
  margin-bottom: 5%;
}

.intro{
  font-size: 2rem;
  text-align: center;
  font-family: 'Cabin', regular;
  color: #000;
}

.btn-continuer{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  background-color: #000;
  border: none;
  font-size: 2rem;
  padding: 15px;
  width: 20%;
  border-radius: 30px;
  font-family: 'Cabin', bold;
  margin-top: 5vh;
}

.btn-continuer:hover{
  color: grey;
  text-decoration: none;
}

.icon{
  position: fixed;
  z-index: 99;
  cursor: pointer;
  top: 7%;
  right: 5%;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.hamburger{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  height: 3px;
  width: 70px;
  background-color: rgba(0, 0, 0, 1);
}

.hamburger:before{
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 15px;
  height: 3px;
  width: 70px;
  background-color: rgba(0, 0, 0, 1);
  transition: .2s;
}

.hamburger:after{
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -15px;
  height: 3px;
  width: 70px;
  background-color: rgba(0, 0, 0, 1);
  transition: .2s;
}

.icon.active .hamburger{
  background-color: rgba(0, 0, 0, 0);
  transition: .2s;
}

.icon.active .hamburger:before{
  top: 0;
  left: 0;
  transform: rotate(45deg);
  transition: .2s;
}


.icon.active .hamburger:after{
  top: 0;
  left: 0;
  transform: rotate(135deg);
  transition: .2s;
}

.menu-container{
  position: fixed;
  display: flex;
  z-index: 80;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, .5);
  transform: translateX(-100vw);
  transition: .3s;
}

.menu-container.active{
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  transform: translateX(0);
  transition: .3s;
}

.menu-link{
  color: #000;
  position: relative;
  font-size: 4rem;
  font-family: 'Cabin', semi-bold;

}

.menu-link:hover{
  text-decoration: none;
  color: #000;
}

.menu-link:after{
  content: '';
  height: 4px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000;
  transition: .2s;
}

.menu-link:hover:after{
  width: 100%;
  transition: .2s;
}


.transition{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.transition div:nth-child(1){
  width: 100%;
  height: 33.3%;
  background-color: #ed6b80;
}

.transition div:nth-child(2){
  width: 100%;
  height: 33.3%;
  background-color: #384b9b;
}

.transition div:nth-child(3){
  width: 100%;
  height: 33.3%;
  background-color: #cad639;
}


/*SECOND CONTAINER STYLE*/


.second-container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-color: #ed6b80;
}


#chart-div {
  height: 350px;
  width: 600px;
}


.questionnaire-title{
  font-size: 5rem;
  text-align: center;
}

.text, .integer{
  font-size: 3rem;
  font-family: 'Cabin', semi-bold;

}

textarea{
  font-size: 2rem !important;
}

.form-inputs{
  display: flex;
  flex-direction: column;
  height: 200vh;
  align-items: center;
}

.form-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 200vh;
  width: 50%;
}


.btn-light{
  padding: 15px !important;
  background-color: #000 !important;
  color: #fff !important;
  font-size: 3rem !important;
  border-radius: 15px !important;
}

.btn-dark{
  display: block !important;
  margin: auto !important;
  padding: 15px !important;
  background-color: #000 !important;
  color: #fff !important;
  font-size: 3rem !important;
  border-radius: 15px !important;
}

.question, .importance{
  width: 34%;
}

.question div textarea{
  height: 100px;
}

.importance div input{
  height: 100px;
  font-size: 3rem;
}

.form-inputs-questionnaire{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container-questionnaire{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 20%;
}

.form-container-questionnaire div label{
  font-size: 3rem;
}

.new-evaluation{
  font-size: 5rem;
  text-align: center;
}


.rangevertical
{
  margin-top:80px;
  transform:rotate(-90deg);
  margin-bottom:80px;

}

.slider-container{
  display: flex;
  align-items: center;
  justify-content: center;
}


.slider-text-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}
