<footer class="page-footer mt-4 bg-light shadow-lg p-1">

<div class="container">
    <div class="text-center text-md-left">
        <div class="row mt-5">
            <div class="col-md-4 mb-3 pb-3 footer-brand">
                <%= image_tag "logo-footer.png", class: 'img-fluid footer-brand-logo' %>
            </div>
            <div class="col-md-4 mb-3 pb-3">
                <h5 class="text-uppercase font-weight-bold">Qui sommes nous ?</h5><br>
                <p><strong>L’Atelier de l’Évaluation</strong></p>
                <p>6 rue de la Croix 86600 SAINT-SAUVANT</p>
            </div>
            <div class="col-md-4 mb-3 pb-3">
                <h5 class="text-uppercase font-weight-bold">Nous contacter</h5><br>
                <p><strong>Téléphone/Fax :</strong> 05.49.01.06.03 </p>
                <p><strong>Courriel :</strong> contact@atelierdelevaluation.fr</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3 border-top">

        <p>
            <%= link_to 'Mentions légales', rgpd_path, class: 'rgpd' %>
            | Tous droits réservés à l'<strong>IUT MMI Bordeaux</strong>
            | 2020
        </p>

    </div>
</div>
<!-- Copyright -->

<!-- Copyright -->
</footer>