<h1 class="text-center mt-5 py-5">Mentions légales</h1>

<div class="rgpd_text">
	<div>
		<h2 class="rgpd">Conditions Générales d'Utilisation</h2>
		<h3 class="rgpd_italic">Préambule</h3>
		<p>
			Les présentes Conditions Générales d'Utilisation décrivent les termes et conditions dans lesquels l’équipe d’Evatco fournit un service de calcul et de suivi de qualité de vie.
<br>
			L’accès à ce service est subordonné au respect des présentes “Conditions Générales d’Utilisation”. Tout utilisateur de la plateforme souhaitant y accéder, doit avoir pris connaissance préalablement de nos “Conditions Générales d’Utilisation” et s'engage à les respecter sans réserve.
		</p>
		<h4 class="rgpd_bold">Article 1 – Obligations de l’utilisateur</h4>
		<p>
			Il est rappelé que seul l’utilisateur est propriétaire du contenu qu’il rentre sur la plateforme. Aucune donnée ne sera traitée par Evatco sauf demande écrite de votre part.
		</p>
		<h4 class="rgpd_bold">Article 2 – Coopérations avec les autorités publiques</h4>
		<p>
			Evatco a l'obligation légale de coopérer avec les autorités publiques qui souhaiteraient effectuer des vérifications relatives aux contenus ou à l'identité des utilisateurs du service, et s'y soumet. Les utilisateurs du service se déclarent informés qu’Evatco peut être délivrée de son secret professionnel dans les conditions prévues par l'article 6 de la loi du 21 Juin 2004, et y consentent. Evatco ne saurait être tenue pour responsable des contenus qu’elle héberge.
		</p>
	</div>

	<div>
		<h2 class="rgpd">La protection des données personnelles</h2>
		<h3 class="rgpd_italic">Vos données</h3>
		<h4 class="rgpd_bold">Données que vous renseignez</h4>
		<p>
			À votre inscription sur <a href="https://qualiviscope.herokuapp.com" style="color: black; text-decoration: underline;">https://qualiviscope.herokuapp.com</a>, vous renseignez des données de base (adresse e-mail, mot de passe) et des données à caractère personnel (afin de mesurer votre qualité de vie). Nous stockons ces données de manière sécurisée pour tout naturellement vous donner accès à notre service de suivi. 
			Votre adresse e-mail n’est jamais automatiquement partagée avec des organismes externes.
		</p>
		<h4 class="rgpd_bold">Droits d’accès, de rectification et d’opposition</h4>
	 	<p>
			Conformément à la loi Informatique et Libertés du 6 janvier 1978, vous disposez d’un droit d’accès, de rectification et d’opposition des données vous concernant. Vous pouvez exercer ces droits par e-mail ou par courrier à l’adresse suivante :
			L’Atelier de l’Évaluation 6 rue de la Croix 86600 SAINT-SAUVANT formation@atelierdelevaluation.fr <br>

			À compter du 25 mai 2018, en application du règlement 2016/679 du 27 avril 2016, vous pourrez également exercer votre droit à la limitation du traitement, à l’effacement de vos données, à la portabilité des données et à ne pas faire l’objet d’une décision individuelle automatisée, y compris le profilage.
			Dans un souci de confidentialité et de protection des données personnelles, une copie d’un titre d’identité signé devra être intégrée à la demande. En cas de réponse insatisfaisante, vous avez la possibilité de saisir la CNIL.
		</p>
	</div>

	<div>
		<h2 class="rgpd">Mentions Légales</h2>
		<h4 class="rgpd_bold">Pour vos réclamations, merci de les adresser à </h4>
		
	<ul class="list-group list-group-flush">
		<li class="list-group-item">
			<div class="row my-3">
				<div class="col-md-4 d-flex align-items-center">
					<p>
						L’Atelier de l’Évaluation <br>
						6 rue de la Croix 86600 SAINT-SAUVANT <br>
						Tel/Fax: 05.49.01.06.03 <br>
						formation@atelierdelevaluation.fr
					</p>
				</div>
				<div class="col-md-4 d-flex align-items-center">
					<p style="text-align: left !important;">
						SCOP SARL au Capital de 10 100,00 € <br>
						RCS POITIERS 478 187 131  -  APE : 8559A <br>
						Organisme de formation enregistré DIRECCTE / DRTEFP sous le N°: 54860100186 <br> 
						Organisme de formation référencé au DATADOCK sous le N° : 0019466 <br>
						Directeur de la publication : Claude WOLTER
					</p>
				</div>
				<div class="col-md-4 d-flex align-items-center justify-content-center">
					<%= image_tag "logo-footer.png", class: 'img-fluid footer-brand-logo' %>
				</div>
			</div>
		</li>
		<li class="list-group-item my-4">
			<div class="row">
				<div class="col-md-6">
					<p>
						Le site est hébergé par <strong>HEROKU</strong> <br>
						<a href="https://www.heroku.com" style="color: black; text-decoration: underline;">https://www.heroku.com</a><br>
						Adresse : 50 Fremont St.Suite 300, San Francisco, CA 94105
					</p>
				</div>
				<div class="col-md-6">
					<p>
						Le site a été entièrement conçu par l'<strong>IUT Bordeaux Montaigne</strong> <br>
						<a href="http://www.iut.u-bordeaux-montaigne.fr" style="color: black; text-decoration: underline;">http://www.iut.u-bordeaux-montaigne.fr</a><br>
						Adresse : 1 Rue Jacques Ellul, 33800 Bordeaux <br>
					</p>
				</div>
			</div>
		</li>
	</ul>
		
		

		<!-- <div class="row">
			<div class="col-md-4">
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Julien Berdah</li> 
					<li class="list-group-item">Nathan Braud</li>
					<li class="list-group-item">Théo Capitaine</li>
					<li class="list-group-item">Mathis Chantereau</li>
				</ul>
			</div>

			<div class="col-md-4">
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Jules Lebret</li>
					<li class="list-group-item">Lucas Ngouembe</li>
					<li class="list-group-item">Stephen Nicolas</li>
					<li class="list-group-item">Marie Simonek</li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Yohann Tonnere</li>
					<li class="list-group-item">Pierre-Alexis Velain</li>
					<li class="list-group-item">Eva Vandererve</li>
				</ul>
			</div>
		</div>	 -->	
	</div>
</div>