


.total
  display:flex !important
  justify-content: center !important
  align-items: center !important


.note_cam
  display:flex !important
  position:absolute !important
  flex-direction: column !important
  justify-content: center !important
  align-items: center !important
  z-index: 0 !important


#chartdiv
  position:absolute!important
  width: 100vh !important
  height: 500px !important
  component-align:center !important
  z-index: 100 !important


#charttotal
  position:absolute!important
  width: 100vh !important
  height: 700px !important
  component-align: center !important
  font-size: 1.3rem !important
  z-index: 100 !important


#affichage
  text-align:center !important
  font-weight: bold !important
  font-size: 1.7rem
  position: relative
  z-index: 100
