.navbar-brand
    max-width: 300px
.jumbotron
    margin: -70px -15px 0
    padding: 200px 0
    background-image: asset-url('fond_login.jpg')
    background-size: cover
*
    font-family: 'Cabin'
h1
    font-weight: bold

.question1
    background-color: #384B9B
