html
  scroll-behavior: smooth

#navbar
    position: absolute
    right: 16px
    top: 60px

.navbar-brand
	max-width: 250px

.navbar-toggler:focus
	outline: none


.jumbotron
    margin: -70px -15px 0
    padding: 15vh 2vw 13vh 2vw
    background-image: asset-url('fond_login.jpg')
    background-size: cover
    background-attachment: absolute


*
    font-family: 'Cabin'

h1
    font-weight: bold

input, textarea, select, a
    outline: none !important
